{% extends "layout.html" %}
{% block body %}

  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/update/{{contato.0}}" method="POST">
          <div class="form-group">
            <input type="text" name="nome" value="{{contato.1}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="celular" value="{{contato.3}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="email" value="{{contato.2}}" class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Atualizar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
